#Files to ignore
Coding/config.ini
.DS_Store
Coding/Datasets/Tweet Data/
Coding/Udemy Course - The Complete Neural Network Bootcamp -Theory Applications/
Coding/Datasets/tweets/
Coding/Datasets/Daily Tweet Data/
Coding/clean_tweets.csv
Coding/Datasets/Processed Tweet/
